[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DownBallotR"]
	path = DownBallotR
	url = https://github.com/gchickering21/downballotr
